<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiekeji.dao.shop.read.member.MemberProductExchangeLogReadDao">
	<resultMap id="MemberProductExchangeLogResult" type="com.yixiekeji.entity.member.MemberProductExchangeLog">
			<result property="id" column="id" />
			<result property="operatingId" column="operating_id" />
			<result property="operatingName" column="operating_name" />
			<result property="memberProductExchangeId" column="member_product_exchange_id" />
			<result property="content" column="content" />
			<result property="createTime" column="create_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MemberProductExchangeLogResult">
		select
		   *
		from `member_product_exchange_log`
		where `id` = #{id}
	</select>
	
	<select id="getMemberProductExchangeLogByMemberProductExchangeId" parameterType="Integer" resultMap="MemberProductExchangeLogResult">
		select
		   *
		from `member_product_exchange_log`
		where `member_product_exchange_id` = #{memberProductExchangeId}
	</select>
	
	
</mapper>