<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiekeji.dao.shop.read.member.MemberReadDao">
	<resultMap id="MemberResult" type="com.yixiekeji.entity.member.Member">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="password" column="password" />
			<result property="grade" column="grade" />
			<result property="gradeValue" column="grade_value" />
			<result property="integral" column="integral" />
			<result property="registerTime" column="register_time" />
			<result property="lastLoginTime" column="last_login_time" />
			<result property="lastLoginIp" column="last_login_ip" />
			<result property="loginNumber" column="login_number" />
			<result property="lastAddressId" column="last_address_id" />
			<result property="lastPaymentCode" column="last_payment_code" />
			<result property="gender" column="gender" />
			<result property="birthday" column="birthday" />
			<result property="email" column="email" />
			<result property="qq" column="qq" />
			<result property="mobile" column="mobile" />
			<result property="phone" column="phone" />
			<result property="pwdErrCount" column="pwd_err_count" />
			<result property="source" column="source" />
			<result property="balance" column="balance" />
			<result property="balancePwd" column="balance_pwd" />
			<result property="isEmailVerify" column="is_email_verify" />
			<result property="isSmsVerify" column="is_sms_verify" />
			<result property="smsVerifyCode" column="sms_verify_code" />
			<result property="emailVerifyCode" column="email_verify_code" />
			<result property="canReceiveSms" column="can_receive_sms" />
			<result property="canReceiveEmail" column="can_receive_email" />
			<result property="status" column="status" />
			<result property="updateTime" column="update_time" />
			<result property="sessionId" column="session_id" />
			<result property="token" column="token" />
			<result property="smsCode" column="sms_code" />
			<result property="nickName" column="nick_name" />
			<result property="userType" column="user_type" />
			<result property="headPortrait" column="head_portrait" />
	</resultMap>
	
	<select id="isMobExists" parameterType="String" resultType="Integer">
		SELECT
			count(1)
		FROM
			`member`
		WHERE
			mobile = #{mobile};
	</select>
	
	<sql id="getCondition">
        <where>
            <if test="queryMap.q_name != null and queryMap.q_name !=''">
                and name = #{queryMap.q_name}
            </if>
            <if test="queryMap.q_password != null and queryMap.q_password !=''">
                and password = #{queryMap.q_password}
            </if>
            <if test="queryMap.q_grade != null and queryMap.q_grade !=''">
                and grade = #{queryMap.q_grade}
            </if>
            <if test="queryMap.q_email != null and queryMap.q_email !=''">
                and email like CONCAT('%', #{queryMap.q_email}, '%')
            </if>
            <if test="queryMap.q_mobile != null and queryMap.q_mobile !=''">
                and mobile = #{queryMap.q_mobile}
            </if>
            <if test="queryMap.q_source != null and queryMap.q_source !=''">
                and source = #{queryMap.q_source}
            </if>
            <if test="queryMap.q_status != null and queryMap.q_status !=''">
                and status = #{queryMap.q_status}
            </if>
             <if test="queryMap.q_balancePwd != null and queryMap.q_balancePwd !=''">
                and balance_pwd = #{queryMap.q_balancePwd}
            </if>
        </where>
    </sql>
    
	<select id="get" parameterType="Integer" resultMap="MemberResult">
		select
		   *
		from `member`
		where `id` = #{id}
	</select>
	
	<select id="getMembersCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(*)
		from `member`
		<include refid="getCondition"/>
	</select>
	
	<select id="getMembers" parameterType="java.util.Map" resultMap="MemberResult">
		select
		   *
		from `member`
		<include refid="getCondition"/>
		order by `id` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<select id="getMembersByDay" resultMap="MemberResult">
		select
		   *
		from `member`
		where `register_time` like CONCAT('%', #{day}, '%')
		and `register_time` &lt; date_sub(now(),interval 364 day)
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<select id="getMemberBySessionId" resultMap="MemberResult">
		select
		   *
		from `member`
		where `session_id` = #{sessionId}
	</select>
	
	<select id="getMemberByToken" resultMap="MemberResult">
		select
		   *
		from `member`
		where `token` = #{token}
	</select>

	<!--根据推广码获取推广用户列表-->
	<select id="getPromotionUser" resultMap="MemberResult">
			select * from member where user_type=0 and salecode=#{saleCode}
	</select>
</mapper>