<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiekeji.dao.shop.read.sale.SaleApplyMoneyReadDao">
	<resultMap id="SaleApplyMoneyResult" type="com.yixiekeji.entity.sale.SaleApplyMoney">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="memberName" column="member_name" />
			<result property="state" column="state" />
			<result property="certificateCode" column="certificate_code" />
			<result property="bankType" column="bank_type" />
			<result property="bankCode" column="bank_code" />
			<result property="bankName" column="bank_name" />
			<result property="bankAdd" column="bank_add" />
			<result property="money" column="money" />
			<result property="bake" column="bake" />
			<result property="createTime" column="create_time" />
			<result property="updateId" column="update_id" />
			<result property="updateName" column="update_name" />
			<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="SaleApplyMoneyResult">
		select
		   *
		from `sale_apply_money`
		where `id` = #{id}
	</select>
	
	<select id="getSaleApplyMoneysCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(1)
		from `sale_apply_money`
		<include refid="getCondition"/>
	</select>
	
	<select id="getSaleApplyMoneys" parameterType="java.util.Map" resultMap="SaleApplyMoneyResult">
		select
		   *
		from `sale_apply_money`
		<include refid="getCondition"/>
		order by `id` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<sql id="getCondition">
        <where>
            <if test="queryMap.q_state != null and queryMap.q_state !=''">
                and `state` = #{queryMap.q_state}
            </if>
            <if test="queryMap.q_memberName != null and queryMap.q_memberName !=''">
                and `member_name` = #{queryMap.q_memberName}
            </if>
            <if test="queryMap.q_memberId != null and queryMap.q_memberId !=''">
                and `member_id` = #{queryMap.q_memberId}
            </if>
        </where>
    </sql>
    
	
</mapper>