<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiekeji.dao.shop.read.sale.SaleScaleLogReadDao">
	<resultMap id="SaleScaleLogResult" type="com.yixiekeji.entity.sale.SaleScaleLog">
			<result property="id" column="id" />
			<result property="optType" column="opt_type" />
			<result property="sellerId" column="seller_id" />
			<result property="saleScale1" column="sale_scale1" />
			<result property="saleScale2" column="sale_scale2" />
			<result property="state" column="state" />
			<result property="createId" column="create_id" />
			<result property="createName" column="create_name" />
			<result property="createTime" column="create_time" />
			<result property="updateId" column="update_id" />
			<result property="updateName" column="update_name" />
			<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="SaleScaleLogResult">
		select
		   *
		from `sale_scale_log`
		where `id` = #{id}
	</select>
	
</mapper>