<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiekeji.dao.shop.read.product.ProductReadDao">


	<select id="getSellerRecommendProducts" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
		where `seller_id` = #{sellerId}
		and `seller_is_top` = 2
		and `state` = 6
		and `seller_state` = 1
        <if test="size != null and size &gt; 0">limit #{size}</if>
    </select>

    <select id="getProductsByIds" parameterType="java.util.List" resultType="com.yixiekeji.entity.product.Product">
		select
			*
		from `product`
		where `id` in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getSellerNewProducts" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
		where `seller_id` = #{sellerId}
		and `state` = 6
		and `seller_state` = 1
		order by id desc
        <if test="size != null and size &gt; 0">limit #{size}</if>
    </select>

	<!-- 查询商铺所有在售商品 -->
    <select id="getProductForSellerList" resultType="com.yixiekeji.entity.product.Product">
		select
        	*
        from `product`
        <include refid="getProductForSellerListCond"/>
        <choose>
	        <when test="sort == 0">
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 1">
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 2">  
	        	order by `comments_number` desc
	        </when>
	        <when test="sort == 3">  
	        	order by `mall_pc_price` asc
	        </when>
	        <when test="sort == 4">  
	        	order by `mall_pc_price` desc
	        </when>
    	</choose>
    	<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    
    <!-- 查询所有在售商品 -->
    <select id="getProducts" resultType="com.yixiekeji.entity.product.Product">
		select
        	*
        from `product`
        where 
        `seller_state` = 1
        and `state` = 6
        and `product_cate_state` = 1
        and `up_time`  &lt; now()
    	<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    
    <!-- 查询所有在售商品 -->
    <select id="getProductsUpdateTime" resultType="com.yixiekeji.entity.product.Product">
		select
        	*
        from `product`
        where 
        `update_time` &gt; #{dateIndex}
    </select>
    
    <!-- 统计所有在售商品 -->
    <select id="getProductsCount" resultType="Integer">
		select
        	count(1)
        from `product`
        where 
        `seller_state` = 1
        and `state` = 6
        and `product_cate_state` = 1
        and `up_time`  &lt; now()
    </select>

    <select id="getProductForSellerListCount" resultType="Integer">
		select
        	count(1)
        from `product`
        <include refid="getProductForSellerListCond"/>
    </select>

	<sql id="getProductForSellerListCond">
		where `seller_id` = #{sellerId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time` &lt; now()
	    <if test="sellerCateId != null and sellerCateId!=''">
	    	and seller_cate_id = #{sellerCateId}
	    </if>
    </sql>

    <select id="getRecommendProducts" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
		where `is_top` = 2
		and `seller_state` = 1
		and `state` = 6
		and `product_cate_state` = 1
        <if test="size != null and size &gt; 0">limit #{size}</if>
    </select>

	<select id="get" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where `id` = #{id}
    </select>
    
	<select id="getProductByMax" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        order by id desc
        limit 1
    </select>
    
	<select id="getUpProductCountBySellerId" resultType="Integer">
		select
        	count(1)
        from `product`
        where 
        `seller_id` = #{sellerId}
        and `state` = 6
        and `product_cate_state` = 1
        and `up_time`  &lt; now()
    </select>
	
	
    
    <select id="getBySellerId" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where `seller_id` = #{sellerId}
    </select>
    
    
    <!-- 查询条件 -->
	<sql id="Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
		<if test="id != null and id != ''" >
			    and id =  #{id}
		</if>
		<if test="productCateId != null and productCateId != ''" >
			    and product_cate_id =  #{productCateId}
			</if>
		<if test="productCatePath != null and productCatePath != ''" >
			    and product_cate_path =  #{productCatePath}
			</if>
		<if test="keyword != null and keyword != ''" >
			    and keyword =  #{keyword}
			</if>
		<if test="productBrandId != null and productBrandId != ''" >
			    and product_brand_id =  #{productBrandId}
			</if>
		<if test="isSelf != null and isSelf != ''" >
			    and is_self =  #{isSelf}
			</if>
		<if test="isNorm != null and isNorm != ''" >
			    and is_norm =  #{isNorm}
			</if>
		<if test="state != null and state != ''" >
			    and state =  #{state}
			</if>
		<if test="isTop != null and isTop != ''" >
			    and is_top =  #{isTop}
			</if>
		<if test="sellerId != null and sellerId != ''" >
			    and seller_id =  #{sellerId}
			</if>
		<if test="sellerCateId != null and sellerCateId != ''" >
			    and seller_cate_id =  #{sellerCateId}
			</if>
		<if test="sellerIsTop != null and sellerIsTop != ''" >
			    and seller_is_top =  #{sellerIsTop}
			</if>
		<if test="sellerState != null and sellerState != ''" >
			    and seller_state =  #{sellerState}
			</if>
		<if test="productCateState != null and productCateState != ''" >
			    and product_cate_state =  #{productCateState}
			</if>
		<if test="isInventedProduct != null and isInventedProduct != ''" >
			    and is_invented_product =  #{isInventedProduct}
			</if>
		<if test="transportId != null and transportId != ''" >
			    and transport_id =  #{transportId}
			</if>	
		<if test="productCode != null and productCode != ''" >
			    and product_code =  #{productCode}
		</if>	
		</trim>
	</sql>
    
    <select id="getByCateIdTop" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where 
	        `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
	        <if test="cateId != null and cateId != 0" >
		    	and `product_cate_id` = #{cateId}
			</if>
        order by 
        	`actual_sales` desc, `id` desc
        	limit #{limitSize}
    </select>
    
     <select id="getByCateIdLeft" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where 
	         `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
	         <if test="cateId != null and cateId != 0" >
		    	and `product_cate_id` = #{cateId}
			</if>
        order by 
        	`actual_sales` desc
        	 limit 6
    </select>
    
   <select id="getProductsBySellerId" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
      	where seller_id = #{sellerid}
        order by id desc
    </select>
    
    <!-- 商品表 列表总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType="map">
		select count(1) from product 
		<include refid="Where_Clause"/>
	</select>
	  	
	<!-- 查询商品表列表 -->
	<select id="queryList" resultType="com.yixiekeji.entity.product.Product" parameterType="map">
		select 
		 * 
		from product 
		<include refid="Where_Clause"/>
		order by  create_time desc 
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	
	<select id="getProductListBySellerCateId" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where 
        <if test="cateString != null and cateString != ''" >
        	`seller_cate_id` in (${cateString})
        	and 
        </if>
        	`seller_id` = #{sellerId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
        <choose>
	        <when test="sort == 0">
	        	order by `seller_is_top` desc
	        </when>
	        <when test="sort == 1">
	        	order by `mall_pc_price` asc
	        </when>
	        <when test="sort == 2">  
	        	order by `mall_pc_price` desc
	        </when>
	        <when test="sort == 3">  
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 4">  
	        	order by `actual_sales` asc
	        </when>
	        <when test="sort == 5">  
	        	order by `up_time` desc
	        </when>
	        <when test="sort == 6">  
	        	order by `up_time` asc
	        </when>
    	</choose>
    	<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    
    <select id="getProductListBySellerCateIdCount" resultType="java.lang.Integer">
		select count(1) from `product` 
		where 
		<if test="cateString != null and cateString != ''" >
        	`seller_cate_id` in (${cateString})
        	and 
        </if>
        	`seller_id` = #{sellerId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
	</select>
	
	<select id="getByBrandId" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where `product_brand_id` = #{brandId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
	        <if test="doSelf == 1">
	        	and `is_self` = 1
	        </if>
	        <if test="store == 1">
	        	and `product_stock` > 0
	        </if>
        <choose>
	        <when test="sort == 0">
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 1">
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 2">  
	        	order by `comments_number` desc
	        </when>
	        <when test="sort == 3">  
	        	order by `mall_pc_price` asc
	        </when>
	        <when test="sort == 4">  
	        	order by `mall_pc_price` desc
	        </when>
    	</choose>
    	<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    
    <select id="getByBrandIdCount" resultType="java.lang.Integer">
        select
        	count(1)
        from `product`
        where `product_brand_id` = #{brandId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
	        <if test="doSelf == 1">
	        	and `is_self` = 1
	        </if>
	        <if test="store == 1">
	        	and `product_stock` > 0
	        </if>
    </select>
	
	<select id="getByBrandIdTop" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where `product_brand_id` = #{brandId}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
        order by 
        	`actual_sales` desc
        	 limit 4
    </select>
    
    
    <select id="getProductByPathCount" resultType="java.lang.Integer">
        select
        	count(1)
        from `product`
        where `product_cate_path` = #{productCatePath}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
    </select>
    
    <select id="getProductByPath" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
        where `product_cate_path` = #{productCatePath}
	        and `seller_state` = 1
	        and `state` = 6
	        and `product_cate_state` = 1
	        and `up_time`  &lt; now()
        <choose>
	        <when test="sort == 0">
	        	order by `is_top` desc, `id` desc
	        </when>
	        <when test="sort == 1">  
	        	order by `mall_pc_price` asc
	        </when>
	        <when test="sort == 2">  
	        	order by `mall_pc_price` desc
	        </when>
	        <when test="sort == 3">
	        	order by `actual_sales` desc
	        </when>
	        <when test="sort == 4">  
	        	order by `comments_number` desc
	        </when>
    	</choose>
    	<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    
    <select id="getProNumByTransportId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    	select
    		count(*)
    	from `product`
    	where `transport_id` = #{transportId}
    </select>
    
    <select id="getProNumByTransportIdAndState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    	select
    		count(*)
    	from `product`
    	where `transport_id` = #{transportId} 
    	and `state` = #{state}
    </select>
    
     <select id="getSalesProducts" resultType="com.yixiekeji.entity.product.Product">
        select
        	*
        from `product`
		where  `seller_state` = 1
		and `state` = 6
		and `product_cate_state` = 1
		order by `actual_sales` desc
        <if test="size != null and size &gt; 0">limit #{size}</if>
    </select>
</mapper>